li.todo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #dadada;
    border-radius: 5px;
    box-shadow: 0 3px 5px 0 #adadad;
    list-style-type: none;
}

.click-space {
    flex-grow: 1;
    cursor: pointer;
}

li.todo:hover {
    border: 1px solid #dadada;
    box-shadow: 0 3px 5px 0 #dadada;
}

input[type="checkbox"].todo-checkbox {
    display: none;
}

label.todo-title {
    font-size: 1em;
    cursor: pointer;
}

/* Create the fake checkbox */
.todo-title:before {
    content: '';
    display: inline-block;
    background: #90d2d8;
    height: 14px;
    width: 14px;
    margin: 0 10px;
    border-radius: 80%;
    box-shadow: 1px 1px 3px 2px #adadad;
    border: 7px solid #fff; /* fill-in fake checkbox with white color */
    transition: border .2s ease;
}

/* Selects all .todo-title:before (fake checkbox) elements where the parent is a .done element */
.done > .todo-title:before {
    border-color: #fff;
    border-width: 3px;
}

/* line-through label when input is checked*/ 
.done  > .todo-title {
    color: #868686;
    font-weight: normal;
    text-decoration: line-through;
}

button.btn-detail, button.btn-trash {
    
    float: right;
    border: none;
    cursor: pointer;
    padding: 2px;
    color: #777777;
    font-size: 18px;
}

button.btn-trash {
    color: #fff;
}

button.btn-detail:hover {
    color: 	#90d2d8;
}

button.btn-trash:hover {
    color: #d9534f;
}

button:focus {
    outline: none;
}

small.msg-details {
    padding-left: 8px;
    color: #adadad;
    font-size: 12px;
    font-style: italic;
}