li.todo {
    background-color: #f4f4f4;
    padding: 1em;
    margin-bottom: 5px;
    border-radius: 5px;
    box-shadow: 0 3px 3px 0 #adadad;
}

input[type="checkbox"].todo-checkbox {
    display: none;
}

label.todo-title {
    font-size: 1em;
    cursor: pointer;
}

/* Create the fake checkbox */
.todo-title:before {
    content: '';
    display: inline-block;
    background: #575757;
    height: 20px;
    width: 20px;
    margin-right: 10px;
    border-radius: 80%;
    box-shadow: 1px 1px 0 0 #adadad;
    border: 10px solid #fff; /* fill-in fake checkbox with white color */
    transition: border .2s ease;
}

/* Selects all .todo-title:before (fake checkbox) elements where the parent is a .done element */
.done > .todo-title:before {
    border-color: #fff;
    border-width: 4px;
}

/* line-through label when input is checked*/ 
.done  > .todo-title {
    color: #999999;
    text-decoration: line-through;
}

button.btn-edit {
    float: right;
    border: none;
    cursor: pointer;
    padding: 2px;
}

button.btn-edit:focus {
    outline: none;
}
